In [11]:
import pandas as pd
import os

In [12]:
cities_csv = os.path.join('.','resources','cities.csv')
cities_csv

'.\\resources\\cities.csv'

In [13]:
cities_prep = pd.read_csv(cities_csv)

cities_df=pd.DataFrame(cities_prep)

cities_df=cities_df[["City_ID", "City", "Country","Date", "Lat", "Lng", "Max Temp","Humidity", "Cloudiness", "Wind Speed",]]

cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,jacareacanga,BR,1528902000,-6.22,-57.76,89.60,62,0,6.93
1,1,kaitangata,NZ,1528905304,-46.28,169.85,42.61,94,100,5.64
2,2,goulburn,AU,1528905078,-34.75,149.72,44.32,91,20,10.11
3,3,lata,IN,1528905305,30.78,78.62,59.89,89,76,0.94
4,4,chokurdakh,RU,1528905306,70.62,147.90,32.17,88,0,2.95

In [15]:
cities_df.to_html('cities_from_csv.html', index=False)